body {
    background-color: #f7f3f3;
}

textarea {
    resize: none;
}

.main {
    display: grid;
    grid-template-columns: 40% 25%;
    grid-column-gap: 20px;
    justify-content: center;
    align-items: center;
}

.contact-form {
    display: grid;
    grid-row-gap: 40px;
    grid-template-columns: 97%;
}

.contact-info {
    display: grid;
    width: 100%;
    grid-column-gap: 32px;
    grid-row-gap: 20px;
    grid-template-areas:
        "a b"
        "c d"
        "e f"
        "g g";
}

.contact-info__info-input {
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0em;

    padding-left: 19px;
    padding-right: 19px;
    border: none;
    background-color: #FFFFFF;
    box-shadow: 0px 16px 32px rgba(202, 203, 210, 0.25);
    height: 64px;
    border-radius: 8px;
}

#enter-message-input {
    height: 338px;
    padding-top: 20px;
    font-family: Arial;
    background-color: #FFFFFF;
}

#enter-message-input::placeholder {
    text-align: start;
}


.contact-message-info {
    display: grid;
}

#map {
    height: 90%;
    width: 90%;
}

.contact-info__message-button {
    width: 221.22px;
    height: 57px;
    border: none;
    background: #1A1A1A;
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;
}

.contact-form-container__headline {
    font-family: system-ui;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;

    color: #1A1A1A;

}

.contact-form-container__subline {
    font-family: system-ui;
    font-weight: 500;
    color: #1A1A1A;
}

*:focus {
    outline: none;
}


@media only screen and (max-width: 1140px) {

    .main {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 100% 70%;
    }

    .contact-info {
        display: grid;
        grid-template-areas:
            "a"
            "b"
            "c"
            "d"
            'e'
            'f'
            'g'
        ;
        grid-template-columns: 100%;
    }

    .contact-info__message-button {
        width: 100%;
    }

    #map {
        width: 97%;
    }
}

@media only screen and (max-width: 1300px) {
    .main {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 100% 70%;
    }

}


@media only screen and (max-width: 980px) {
    .main {
        display: grid;
        grid-template-columns: 80%;
        grid-template-rows: 100% 70%;
    }

}